@use '../../utils/' as * ;

/*============= CHOOSE CSS AREA STARTS ===============*/
.chosse-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .heading1 {
        .chosse-boxarea {
            position: relative;
            z-index: 1;
            background: var(--ztc-bg-bg-4);
            border-radius: 8px;
            transition: all .4s;
            padding: 24px;
            text-align: center;
            margin-top: 30px;
            &:hover {
                border-radius: 8px;
                background: var(--ztc-bg-bg-1);
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.09); 
                transition: all .4s; 
                .icons {
                    transform: rotateY(-180deg);
                    transition: all .4s;
                }    
            }
            .icons {
                height: 60px;
                width: 60px;
                text-align: center;
                line-height: 60px;
                border-radius: 50%;
                background: var(--ztc-bg-bg-3);
                display: inline-block;
                transition: all .4s;
            }
            .content-area {
                a {
                    color: var(--ztc-text-text-2);
                    text-align: center;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-semibold);
                    line-height: 20px;
                    display: inline-block;
                    transition: all .4s;
                    &:hover {
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }   
                }
                p {
                    color: var(--ztc-text-text-3);
                    text-align: center;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 24px;
                }
            }
        }
    }

    .choose-images-area {
        position: relative;
        left: -50px;
        @media #{$lg} {
            left: 0;
            margin-top: 30px;
        }
        @media #{$md} {
            left: 0;
            margin-top: 30px;
        }
        @media #{$xs} {
            left: 0;
            margin-top: 30px;
        }
        .img1 {
            position: relative;
            z-index: -1;
            left: -50px;
            @media #{$md} {
               left: 0;
            }
             @media #{$lg} {
               left: 0;
            }
            @media #{$xs} {
                left: 0;
             }
            img {
                height: 100%;
                width: 300px;
                object-fit: cover;
                border-radius: 8px 8px 8px 100px;
                max-width: 300px;
                @media #{$md} {
                    width: 100%;
                    max-width: 100%;
                }
                @media #{$lg} {
                    width: 100%;
                    max-width: 100%;
                    height: 400px;
                }
                @media #{$xs} {
                    width: 100%;
                    max-width: 100%;
                    border-radius: 8px;
                }
            }
        }

        .img2 {
            img {
                height: 100%;
                width: 300px;
                object-fit: cover;
                border-radius: 8px 100px 8px 8px;
                max-width: 300px;
                @media #{$md} {
                    width: 100%;
                    max-width: 100%;
                }
                @media #{$lg} {
                    width: 100%;
                    max-width: 100%;
                    height: 400px;
                }
                @media #{$xs} {
                    width: 100%;
                    max-width: 100%;
                    border-radius: 8px;
                    margin-top: 30px;
                }
                
            }
        }
    }
}

// Homepage 03 //
.choose3 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .heading3 {
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
        @media #{$lg} {
            margin-bottom: 30px;
        }
    }
    .counter-boxarea {
        position: relative;
        z-index: 1;
        background: var(--ztc-bg-bg-8);
        border-radius: 8px;
        padding: 34px;
        text-align: center;
        transition: all .4s;
        &:hover {
            transform: translateY(-10px);
            transition: all .4s;
            .icons {
                transform: rotateY(-180deg);
                transition: all .4s;
            }
        }
        .icons {
            height: 80px;
            width: 80px;
            text-align: center;
            line-height: 80px;
            border-radius: 50%;
            display: inline-block;
            transition: all .4s;
            background: #F4E2DC;
        }
        h2 {
            color: var(--ztc-text-text-2);
            text-align: center;
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s44);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 44px;       
        }
        p {
            color: var(--ztc-text-text-3);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 18px;      
        }
    }
}

// Homepage 04 //
.choose4 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .chooseheader {
        .about-boxarea {
            position: relative;
            z-index: 1;
            padding: 24px 0 24px;
            &.border1 {
                border-bottom: 1px solid var(--ztc-bg-bg-10);
            }
            &:hover {
                .icons {
                    transform: rotateY(-180deg);
                    transition: all .4s;
                    background: var(--ztc-bg-bg-9);
                }
            }
            .icons {
                height: 60px;
                width: 60px;
                text-align: center;
                line-height: 60px;
                border-radius: 50%;
                transition: all .4s;
                background: var(--ztc-bg-bg-10);
                display: inline-block;
                position: absolute;
            }
            .textarea {
                padding-left: 76px;
                a {
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 24px; /* 100% */     
                }
            }
        }
    }
    
    .choose-images-area {
        position: relative;
        z-index: 1;
        .choose-img1 {
            
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
            .arrow-circle {
                a {
                    height: 160px;
                    width: 160px;
                    display: inline-block;
                    transition: all .4s;
                    border-radius: 50%;
                    background: var(--ztc-bg-bg-9);
                    position: absolute;
                    bottom: 70px;
                    left: -25%;
                    z-index: 1;
                    padding: 10px;
                    @media #{$xs} {
                        bottom: 0;
                        top: 50%;
                        margin-top: -80px;
                    }
                    .arrow1 {
                        position: absolute;
                        top: 41%;
                        left: 40%;
                        height: 37px;
                        width: 37px;
                        object-fit: contain;
                    }  
                    .elements20 {
                        position: absolute;
                        top: 6px;
                        left: 6px;
                    } 
                }
            }
        }
    }
}

// Homepage 05 //
.choose5 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: var(--ztc-bg-bg-2);
    .heading5 {
        h5 {
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.20);  
            color: var(--ztc-text-text-1);  
        }
        h2 {
            color: var(--ztc-text-text-1);
        }
    }

    .others-widget-area {
        position: relative;
        
        .card-boxarea {
                &:hover {
                    h3 {
                        transform: rotateY(360deg);
                        transition: all .4s;
                    }
                }
            h3 {
                color: var(--ztc-text-text-1);
                text-align: center;
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s24);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 60px;
                letter-spacing: -0.24px;    
                display: inline-block;
                transition: all .4s;
                border-radius: 50%;   
                height: 60px;
                width: 60px;
                background: var(--ztc-bg-bg-11);            
            }
            .content-area {
                background: #3F3D3D;
                padding: 28px;
                border-radius: 4px;
                text-align: center;
                margin: 0 40px 0 0;
                position: relative;
                z-index: 1;
                @media #{$xs} {
                    margin: 0;
                }
                &:hover {
                    &::after {
                        width: 100%;
                        left: 0;
                        top: 0;
                        transition: all .4s;
                        visibility: visible;
                        opacity: 1;
                    }
                    a {
                        color: var(--ztc-text-text-1);
                        transition: all .4s;
                    }
                    p {
                        color: var(--ztc-text-text-1);
                        transition: all .4s;
                        opacity: 80%;
                    }
                }
                &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 10px;
                    left: 50%;
                    transition: all .4s;
                    top: 0;
                    background: var(--ztc-bg-bg-11);
                    z-index: -1;
                    border-radius: 8px;
                    visibility: hidden;
                    opacity: 0;
                }
                a {
                    color: var(--ztc-text-text-1);
                    text-align: center;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 20px;
                    display: inline-block;
                    transition: all .4s;                     
                }
                p {
                    color: var(--ztc-text-text-1);
                    text-align: center;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 26px; /* 162.5% */
                    letter-spacing: 0.16px;  
                    opacity: 0.8;   
                    transition: all .4s;                  
                }
            }

            .content-area2 {
                background: #3F3D3D;
                padding: 28px;
                border-radius: 4px;
                text-align: center;
                margin: 0 0 0 40px;
                position: relative;
                z-index: 1;
                @media #{$xs} {
                    margin: 0;
                }
                &:hover {
                    &::after {
                        width: 100%;
                        left: 0;
                        top: 0;
                        transition: all .4s;
                        visibility: visible;
                        opacity: 1;
                    }
                    a {
                        color: var(--ztc-text-text-1);
                        transition: all .4s;
                    }
                    p {
                        color: var(--ztc-text-text-1);
                        transition: all .4s;
                        opacity: 80%;
                    }
                }
                &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 10px;
                    left: 50%;
                    transition: all .4s;
                    top: 0;
                    background: var(--ztc-bg-bg-11);
                    z-index: -1;
                    border-radius: 8px;
                    visibility: hidden;
                    opacity: 0;
                }
                a {
                    color: var(--ztc-text-text-1);
                    text-align: center;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 20px;
                    display: inline-block;
                    transition: all .4s;                     
                }
                p {
                    color: var(--ztc-text-text-1);
                    text-align: center;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 26px; /* 162.5% */
                    letter-spacing: 0.16px;  
                    opacity: 0.8;   
                    transition: all .4s;                  
                }
            }
            &.box1 {
                h3 {
                    position: relative;
                    left: -75px;
                    margin-bottom: 20px;
                    @media #{$xs} {
                        left: 0;
                    }
                }
            }
            &.box2 {
                h3 {
                    position: relative;
                    left: -73px;
                    margin-top: 13px;
                    @media #{$xs} {
                        left: 0;
                    }
                }
            }

            &.box3 {
                h3 {
                    position: relative;
                    left: 74px;
                    margin-top: -33px;
                    margin-bottom: 16px;
                    @media #{$xs} {
                        left: 0;
                    }
                }
            }
            &.box4 {
                h3 {
                    position: relative;
                    left: 74px;
                    margin-top: 16px;
                    margin-bottom: -16px;
                    @media #{$xs} {
                        left: 0;
                    }
                }
            }
        }
        .images {
            position: relative;
            z-index: 1;
            @media #{$xs} {
                margin-top: 30px;
                margin-bottom: 30px;
            }
            
            .elements12 {
                position: absolute;
                top: -10px;
                left: -100px;
                @media #{$xs} {
                    display: none;
                }
                @media #{$md} {
                    display: none;
                }
                @media #{$lg} {
                    display: none;
                }
            }

            .elements13 {
                position: absolute;
                bottom: -10px;
                left: -100px;
                @media #{$xs} {
                    display: none;
                }
                @media #{$md} {
                    display: none;
                }
                @media #{$lg} {
                    display: none;
                }
            }

            .elements14 {
                position: absolute;
                top: -10px;
                right: -100px;
                @media #{$xs} {
                    display: none;
                }
                @media #{$md} {
                    display: none;
                }
                @media #{$lg} {
                    display: none;
                }
            }
            .elements15 {
                position: absolute;
                bottom: -10px;
                right: -100px;
                @media #{$xs} {
                    display: none;
                }
                @media #{$md} {
                    display: none;
                }
                @media #{$lg} {
                    display: none;
                }
            }
            .img1 {
                position: relative;
                z-index: 1;
                background: #272525;
                padding: 16px;
                border-radius: 50%;
                  @media #{$lg} {
                   height: 400px;
                   width: 400px;
                   border-radius: 50%;
                   margin: 0 auto;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                @media #{$lg} {
                   height: 400px;
                   width: 400px;
                   border-radius: 50%;
                }
                }
            }
        }
    }
}

// Homepage 07 //
.choose7-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: var(--ztc-bg-bg-14);
    .choose7-heading {
        padding: 0 40px 0 0;
        @media #{$xs} {
         padding: 0;
         margin-bottom: 30px;   
        }
         @media #{$md} {
         padding: 0;
         margin-bottom: 30px;   
        }
        @media #{$lg} {
         padding: 0;
         margin-bottom: 30px;   
        }
        .choose7-widget {
            position: relative;
            z-index: 1;
            .icons {
                height: 70px;
                width: 70px;
                text-align: center;
                line-height: 70px;
                border-radius: 50%;
                background: var(--ztc-bg-bg-1);
                display: inline-block;
                transition: all .4s;
                position: absolute;
            }
            .content {
                padding-left: 90px;
                a {
                    color: var(--ztc-text-text-9);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 24px;
                    letter-spacing: 0.4px;
                    display: inline-block;
                    transition: all .4s;
                }
            }
        }
    }
    .choose7-images-area {
        position: relative;
        z-index: 1;
        .cirle-progress {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background: var(--ztc-bg-bg-12);
            text-align: center;
            line-height: 172px;
            position: absolute;
            z-index: 2;
            right: 60%;
            top: 25%;
            @media #{$xs} {
               right: 50%;
               top: 50%;
               margin-right: -90px;     
               margin-top: -90px; 
            }
            svg {
                position: absolute;
                left: 50%;
                z-index: 2;
                top: 50%;
                margin-top: -34px;
                margin-left: -34px;
            }
        }
        .img1 {
            img {
                border-radius: 8px;
                @media #{$lg} {
                    width: 80%;
                    height: 400px;
                    object-fit: cover;
                }
            }
        }
        .img2 {
            position: relative;
            z-index: 1;
            margin-top: -140px;
            @media #{$xs} {
                margin-top: 30px;
            }
            img {
                border-radius: 8px;
                padding: 6px;
                background: var(--ztc-bg-bg-1);
                @media #{$xs} {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

// Homepage 08 //
.choose8-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: var(--ztc-bg-bg-17);
    .img1 {
        img {
            height: 100%;
            width: 100%;
            overflow: hidden;
            transition: all .4s;
            border-radius: 8px;
            object-fit: cover;
            @media #{$xs} {
             height: 250px;
             margin-bottom: 30px;
             object-fit: cover;   
            }
        }
    }
    .choose-headig8 {
        padding: 0 0 0 60px;
        @media #{$xs} {
            padding: 0;
        }
        @media #{$md} {
            padding: 0;
        }
        @media #{$lg} {
            padding: 0 0 0 0;
        }
        .list {
            li {
                color: var(--ztc-text-text-12);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-medium);
                line-height: 16px;
                margin-top: 28px;
                svg {
                    margin: -3px 4px 0 0;
                }
            }
        }
    }
}
// About Inner  //
.choose-about-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: var(--ztc-bg-bg-2);
    .heading1 {
        h5 {
            color: var(--ztc-text-text-1);
            img {
                filter: brightness(0) invert(1);
            }
        }
        h2 {
            color: var(--ztc-text-text-1);
        }
    }
    .history-btns-area {
        position: relative;
        z-index: 1;
        ul {
            display: block;
            text-align: center;
            justify-content: center;
            li {    
                display: inline-block;
                margin: 0 30px 0 0;
                &:nth-last-child(1) {
                    margin: 0;
                }
                @media #{$xs} {
                    margin: 0 0 10px 0;
                }
                @media #{$md} {
                    margin: 0 0 10px 0;
                }
                @media #{$lg} {
                    margin: 0 0 10px 0;
                }
                button {
                    color: var(--ztc-text-text-1);
                    text-align: center;
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 16px; 
                    display: inline-block;
                    transition: all .4s;
                    border-radius: 8px;
                    border: 1px solid rgba(255, 255, 255, 0.10);
                    background: rgba(255, 255, 255, 0.10);  
                    padding: 16px 40px;  
                    &.active {
                        background: var(--ztc-bg-bg-3);
                        transition: all .4s;
                    }
                }
            }
        }
        .tab-content {
            .tab-pane {
                position: relative;
                z-index: 1;
                top: 120px;
                transition: all .4s;
                &.fade.show.active {
                    top: 0;
                    transition: all .4s;
                }
                .img1 {
                    img {
                        height: 396px;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                }
                .history-heading {
                    border-radius: 8px;
                    background: rgba(255, 255, 255, 0.10);
                    position: relative;
                    z-index: 1;
                    padding: 48px 40px;
                    @media #{$xs} {
                        padding: 24px;
                        margin-top: 30px;
                    }
                    @media #{$md} {
                        margin-top: 30px;
                    }
                    h3 {
                        color: var(--ztc-text-text-1);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s28);
                        font-style: normal;
                        font-weight: var(--ztc-weight-bold);
                        line-height: 32px;      
                    }
                    p {
                        color: rgba(255, 255, 255, 0.80);
                    }
                }
            }
        }
    }
}

// Homepage 09 //
.choose9-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: var(--ztc-bg-bg-15);
    .heading8 {
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        } 
        @media #{$lg} {
            margin-bottom: 30px;
        }
    }
    .brand-box {
      background: var(--ztc-bg-bg-1);
      transition: all .4s;
      text-align: center;
      padding: 40px;
      border-radius: 8px;
      margin-bottom: 30px;
      border: 1px solid var(--ztc-bg-bg-1);
      &:hover {
        border: 1px solid var(--ztc-text-text-14);
        transition: all .4s;
        transform: translateY(-10px);
      }
      img {
        height: 48px;
        width: 185px;
        object-fit: contain;
      }
    }
}

// Homepage 10 //
.choose10-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .heading10 {
        padding: 0 50px 0 0;
        @media #{$xs} {
            padding: 0;
        }
        @media #{$md} {
            padding: 0;
        }
    }
    .choose10-all-boxes-area {
        position: relative;
        z-index: 1;
        .choose10-boxarea {
            position: relative;
            z-index: 1;
            background: var(--ztc-bg-bg-14);
            border-radius: 8px;
            padding: 24px;
            transition: all .4s;
            @media #{$xs} {
                margin-top: 30px;
            }
            @media #{$md} {
                margin-top: 30px;
            }
            @media #{$lg} {
                margin-top: 30px;
            }
            &:hover {
                background: var(--ztc-bg-bg-1);
                box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
                transition: all .4s;
                transform: translateY(-5px);
            }
            .icons {
                height: 60px;
                width: 60px;
                text-align: center;
                line-height: 60px;
                border-radius: 50%;
                display: inline-block;
                transition: all .4s;
                background: var(--ztc-bg-bg-1);
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    background: var(--ztc-bg-bg-19);
                    top: 2px;
                    transition: all .4s;
                    border-radius: 50%;
                    z-index: -1;
                }
                img {
                    transition: all .4s;
                }
            }
            .content1-area {
                a {
                    color: var(--ztc-text-text-12);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 20px;
                    letter-spacing: 0.4px;
                    display: inline-block;
                    transition: all .4s;
                    &:hover {
                        color: var(--ztc-text-text-14);
                        transition: all .4s;
                    }
                }
                p {
                    color: var(--ztc-text-text-10);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 24px; 
                    transition: all .4s;
                }
            }
        }
    }
}
/*============= CHOOSE CSS AREA ENDS ===============*/